---
layout: page
title: Books I've read
subtitle: 
---



<div class="container">
    {% for book in  site.data.books %}
    <div class="row">

    <h3>{{book.year}} ({{book.book_list.size}} {% if book.book_list.size == 1 %}book{% else %}books{% endif %})</h3> 
    {% for b in book.book_list %}

        {% assign loopindex = forloop.index | modulo: 4 %}

        {% if loopindex == 0 %}
            <div class="row">
        {% endif %}
        
        {% if b.link %}
        <div class="col-xs-4 col-md-2"><a href="{{ b.link }}"><img src="{{ b.title}}" title="Review present!" class="img-responsive book"/></a></div>
        {% else %}
        <div class="col-xs-4 col-md-2"><img src="{{ b.title}}" class="img-responsive book"/></div>
        {% endif %}

        {% if loopindex == 4 %}
            <div class="col-xs-8 shelf"></div>
        {% endif %}

        {% if loopindex == 0 %}
            </div>
        {% endif %}
        {% endfor %}
</div>
<hr/>

    {% endfor %}
</div>