---
layout: page
title: Books I've read
subtitle: 
---



<div class="container">
    {% for book in  site.data.books %}
    <div class="row">

    <h3>{{book.year}} ({{book.book_list.size}} {% if book.book_list.size == 1 %}book{% else %}books{% endif %})</h3> 
    {% for b in book.book_list %}

        {% assign loopindex = forloop.index | modulo: 4 %}

        {% if loopindex == 0 %}
            <div class="row">
        {% endif %}
        
        {% if b.link %}
        <div class="col-xs-4 col-md-2"><a href="{{ b.link }}"><img src="{{ b.title}}" title="Review present!" class="img-responsive book"/></a></div>
        {% else %}
        <div class="col-xs-4 col-md-2"><img src="{{ b.title}}" class="img-responsive book"/></div>
        {% endif %}

        {% if loopindex == 4 %}
            <div class="col-xs-8 shelf"></div>
        {% endif %}

        {% if loopindex == 0 %}
            </div>
        {% endif %}
        {% endfor %}
</div>
<hr/>

    {% endfor %}
</div>


<!-- -->
<script type="text/javascript">
    var sc_project=11299544; 
    var sc_invisible=1; 
    var sc_security="4531608f"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics
    Made Easy - StatCounter" href="http://statcounter.com/"
    target="_blank"><img class="statcounter"
    src="//c.statcounter.com/11299544/0/4531608f/0/" alt=""></a></div></noscript>
    <!-- End -->