---
layout: page
title: My Bookshelf
subtitle: 
---



<div class="container">
    {% for book in  site.data.books %}
    <div class="row">

    <h3>{{book.year}} ({{book.book_list.size}} {% if book.book_list.size == 1 %}book{% else %}books{% endif %})</h3> 
    {% for b in book.book_list %}

<ul>
    {% if b.link %}

    <li>{{ b.name}}<a href="{{ b.link }}"> <i class="fa fa-book" style="color:red;"></i></a></li>
    {% else %}
    <li>{{ b.name}}</li>
    {% endif %}

</ul>

        {% endfor %}
</div>
<hr/>

    {% endfor %}
</div>