---
layout: page
title: FB Statuses Compilation
---
<meta charset="UTF-8">
This is a log of all the text puns/jokes/thoughts/observations I've made or intended to make on my Facebook timeline over the years. 
<hr/>
<div class="posts-list">
  {% for post in site.data.statuses.status reversed %}
  <b>{{post.date}}</b>
  <br/>
  <blockquote>
    <pre class="status">
{{post.data}}
</pre>
  </blockquote>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.pages | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.pages | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

