---
layout: page
title: Random Thoughts
---
<meta charset="UTF-8">
<style>
pre {
  white-space: pre-wrap;
  word-break: keep-all
}
</style>
<div class="posts-list">
  {% for post in site.data.statuses.status %}
  <b>{{post.date}}</b>
  <br/>
  <blockquote>
    <pre>
{{post.data}}
</pre>
  </blockquote>
  {% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.pages | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.pages | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

